@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
/* 500, 700 montsterrat */
/* 700 fraunces */


:root {
    --dark-cyan: hsl(158, 36%, 37%);
    --cream: hsl(30, 38%, 92%);
    --Vdark-blue: hsl(212, 21%, 14%);
    --dark-grey-blue: hsl(228, 12%, 48%);
    --White: hsl(0, 0%, 100%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--cream);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.product_card {
    border-radius: 0.5rem;
    display: flex;
    flex-direction: row;
    background-color: var(--White);
    max-width: 37rem;
    height: 28rem;
    overflow: hidden;
}

.preview-img {
    width: 50%;
    height: 100%;
}

.preview-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.preview_info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 2rem;
    gap: 1rem;
    width: 50%;
}

h1 {
    font-family: 'Fraunces', serif;
    font-weight: 700;
    line-height: 1.0;
}

h3 {
    color: var(--dark-grey-blue);
    font-size: 0.875rem;
    font-weight: 500;

}

p {
    color: var(--dark-grey-blue);
    font-size: 0.875rem;
    line-height: 1.6;
    font-weight: 500;
}

.price {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    padding-top: 0.4rem;
    padding-bottom: 0.1rem;
}

h2 {
    font-family: 'Fraunces', serif;
    font-weight: 700;
    font-size: 2rem;
    color: var(--dark-cyan);
}

s {
    color: var(--dark-grey-blue);
    text-decoration: line-through;
    text-decoration-thickness: 0.7px;
    text-decoration-color: var(--dark-grey-blue);
    font-size: 0.8rem;
}

/* - Mobile: 375px
   - Desktop: 1440px */

.add_to_cart {
    width: 14rem;
    height: 2.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: hsl(158, 36%, 37%);
    border: none;
    border-radius: 0.5rem;
}

.add_to_cart:hover {
    background-color: hsl(158, 36%, 27%);
    cursor: pointer;
}

.add_to_cart img {
    margin-right: 0.5rem;
}

.footer {
    margin-top: 1rem;
    position: absolute;
    width: 100%;
    text-align: center;
    left: 0;
    right: 0;
    bottom: 1.2rem;
    padding: 1rem;
}

.attribution {
    font-size: 0.6888rem;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media screen and (max-width: 700px) {

    main {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .product_card {
        flex-direction: column;
        max-width: 23rem;
        height: 100%;
        /* border: 1px solid violet; */
        border-radius: 1rem;
    }

    .preview_info,
    .preview-img {
        width: 100%;
        height: 100%;
    }

    .preview-img img {
        width: 100%;
        height: 22rem;
        object-fit: cover;
    }

    .add_to_cart {
        width: 100%;
        height: 3rem;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        font-size: 1.3rem;
        font-weight: 500;
        background-color: hsl(158, 36%, 37%);
        border: none;
        border-radius: 0.6rem;
    }

    .footer {
        margin-top: 1rem;
        position: relative;
        width: 100%;
        text-align: center;
        left: 0;
        right: 0;
        bottom: 0.2rem;
        padding: 1rem;
    }
}
